<div class="container">
    <!-- Title -->
    <div class="row">
      <!-- Logo -->
      <div class="col-md-3 col-xs-12"><app-logo></app-logo>></div>
      <!-- Name -->
      <div class="col-md-9 col-xs-12"><p>12</p></div>
    </div>
    <!-- First row of baner -->
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="/src/assets/imges/fckatowicelogo.png"/>
      </div>
      <div class="col-md-6 col-sm-12"><p>22</p></div>
    </div>

    <!-- Second row of baner -->
    <div class="row">
      <div class="col-md-6 col-sm-12"><p>31</p></div>
      <div class="col-md-6 col-sm-12"><p>32</p></div>
    </div>
    <!-- Footer -->
    <div class="row">
      <!-- Decription -->
      <div class="col-sm-6 col-xs-12"><p>41</p></div>
      <!-- Media -->
      <div class="col-sm-6 col-xs-12"><p>42</p></div>
    </div>
  </div>
