<div class="container">
  <!-- Title -->
  <div class="row">
    <!-- Logo -->
    <div class="col-md-3 col-xs-12"></div>
    <!-- Name -->
    <div class="col-md-9 col-xs-12"></div>
  </div>
  <!-- First row of baner -->
  <div class="row">
    <div class="col-md-6 col-sm-12"></div>
    <div class="col-md-6 col-sm-12"></div>
  </div>

  <!-- Second row of baner -->
  <div class="row">
    <div class="col-md-6 col-sm-12"></div>
    <div class="col-md-6 col-sm-12"></div>
  </div>
  <!-- Footer -->
  <div class="row">
    <!-- Decription -->
    <div class="col-sm-6 col-xs-12"></div>
    <!-- Media -->
    <div class="col-sm-6 col-xs-12"></div>
  </div>
</div>
